body{
    background-image: url(images/pexels-cottonbro-9669089.jpg);
    background-repeat: no-repeat;
    background-size: 1400px;
    font-family: Arial, sans-serif;
    overflow: hidden;
   
}
.containt{
   display:flex;
   width: 100%;
   height: 100%;
}

p{
    font: 1.5em Georgia,serif;
    height: 100vh;
    color: white ;
}

