body {
  perspective: 1000px; /* Ajout de la perspective pour la transition 3D */
  overflow-x: hidden; /* Empêche le défilement horizontal */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Transition pour le body */
  transform-origin: center;
  opacity: 1;
}

body.fade-out {
  opacity: 0;
  transform: rotateY(90deg) scale(0.8); /* Exemple de transition 3D */
}